---
import NumberGridItem from "./NumberGridItem.astro";
---

<section class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-sv-gris-light">
  <NumberGridItem numberId="number1" numero='#2' title="EN LATAM" text="Nuestra agilidad y profesionalismo nos han permitido establecernos como el importador #2 de filtros Donaldson en Latinoamérica." />
  <NumberGridItem numberId="number2" numero="+3000" title="CLIENTES" text="Cuidamos y valoramos la relación con nuestro cliente como un capital más de la empresa. Su problema es nuestro problema también." />
  <NumberGridItem numberId="number3" numero="+5000" title="M2 DEPÓSITO" text="Tener grandes espacios de almacenamiento y amplio stock nos permite atender tus necesidades con velocidad." />
  <NumberGridItem numberId="number4" numero="+30K" title="CÓDIGOS" text="Disponemos de amplia variedad y líneas de productos pensados para resolver tus problemas con la calidad que necesitas." />
</section>

