---
import HomeSliderBgImage from './HomeSliderBgImage.astro';
---
<section class="slider">
 <div class="w-full h-full bg-blend-color bg-black/40 ">
    <video autoplay muted loop class="h-full w-full object-cover absolute -z-10 aspect-video" poster="/assets/banners-home-slide/poster-video.webp">
      <source type="video/webm" src="/assets/banners-home-slide/video/SV-WEB-opti.webm"  />
      <source type="video/mp4" src="/assets/banners-home-slide/video/SV-WEB-opti.mp4"  />
    </video>
    <HomeSliderBgImage 
               titleBold="TU SOCIO" 
               titleNormal="CONFIABLE" 
               text="Ofrecemos excelencia y una amplia gama de productos para el óptimo funcionamiento de tu equipo." 
               buttonText="Conoce a SV"
               target_blank={parseInt('0')}
               buttonHref="/nosotros"
   />
</div>

 <div class="w-full h-full bg-blend-color bg-black/40 ">
     <img srcset="/assets/banners-home-slide/mobile/Banner-portal-SV-mobile.webp 800w,
     /assets/banners-home-slide/Banner-portal-SV.webp 1600w" 
     src='/assets/banners-home-slide/Banner-portal-SV.webp' alt='banner portal' 
     draggable="false" 
     class='absolute w-full h-full inset-0 -z-10 object-cover object-center' loading={'eager'}  />
    
     <HomeSliderBgImage 
                titleBold="LO QUE NECESITAS," 
                titleNormal="FÁCIL Y RAPIDO" 
                text="Registrate ahora y accede a precios especiales dentro de nuestro portal de compras." 
                buttonText="Registrarse"
                target_blank={parseInt('1')}
                buttonHref="https://portal.sv.com.ar/crearusuario.aspx"
    />
 </div>
 <div class="w-full h-full bg-blend-color bg-black/40 ">
  <img srcset="/assets/banners-home-slide/mobile/banner-productos-home-mobile.webp 800w,
  /assets/banners-home-slide/banner-productos-home.webp 1600w" 
  src='/assets/banners-home-slide/banner-productos-home.webp' alt='banner productos' 
  draggable="false" 
  class='absolute w-full h-full inset-0 -z-10 object-cover object-center' loading={'eager'}  />
   
    <HomeSliderBgImage 
    titleBold="AMPLIA VARIEDAD" 
    titleNormal="DE PRODUCTOS" 
    text="Descubrí la mejor calidad en filtros, repuestos, herramientas de corte, tren rodante y accesorios." 
    buttonText="Nuestros productos"
    target_blank={parseInt('0')}
    buttonHref="/productos"
    />
</div>
<div class="w-full h-full bg-blend-color bg-black/40 ">
  <img srcset="/assets/banners-home-slide/mobile/SLIDER-crecemos-mobile.webp 800w,
  /assets/banners-home-slide/SLIDER-crecemos.webp 1600w" 
  src='/assets/banners-home-slide/SLIDER-crecemos.webp' alt='banner trabajá con nosotros' 
  draggable="false" 
  class='absolute w-full h-full inset-0 -z-10 object-cover object-center' loading="eager" />
    
    <HomeSliderBgImage 
             titleBold="CRECEMOS JUNTOS" 
             titleNormal="HACIA EL ÉXITO" 
             text="Son el motor fundamental de nuestro crecimiento, avanzamos gracias a su dedicación y compromiso." 
             buttonText="Trabajá con nosotros"
             target_blank={parseInt('0')}
             buttonHref="/nosotros/trabaja-con-nosotros"
             />
</div>
</section>
    <div class="dots">
        <div class="dots1"></div>
        <div class="dots2"></div>
        <div class="dots3"></div>
        <div class="dots4"></div>
    </div>

<style>
    .slider {
        width: 100%;
        height: calc(100vh - 9rem);
        display: flex;
        overflow: hidden;
        position: relative;
        cursor: grab;
        user-select: none;
    }
    .slider div {
        position: relative;
        width: 100%;
        flex: 0 0 100%;
        left: 0;
        transition: 0.5s;
    }
    .dots {
        display: flex;
        position: absolute;
        bottom: 2rem;
        right: 8rem;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    .dots div {
        height: 12px;
        width: 12px;
        border-radius: 12px;
        transition: 0.3s;
        position: relative;
        background-color: transparent;
        border: 1px solid white;
        opacity: 1;
    }
    .dots div:nth-child(1) {
        width: 20px;
        background-color: white;
    }
    @media (min-width:1024px) {
        .slider {
        width: 100%;
        height: calc(100vh - 8rem);
    }
    }
</style>
<script is:inline>
    (() => {
      const initializeSlider = () => {
        let count = 1;
        let customChange = false;
  
        const sliding = (x) => {
          let left = `${-x * 100}%`;
          let allSlide = document.querySelector('.slider').querySelectorAll('div');
          let allDots = document.querySelector('.dots').querySelectorAll('div');
  
          allSlide.forEach((element) => {
            element.style.left = left;
          });
          allDots.forEach((dots) => {
            dots.style.border = "solid 1px white";
            dots.style.opacity = 1;
            dots.style.width = '12px';
            dots.style.height = '12px';
            dots.style.backgroundColor = 'transparent';
          });
          allDots[x].style.transition = '0.3s';
          allDots[x].style.width = '20px';
          allDots[x].style.backgroundColor = 'white';
        };
  
        const intervalId = setInterval(() => {
          if (!customChange) {
            if (count === 4) {
              sliding(0);
              count = 1;
            } else {
              sliding(count);
              count += 1;
            }
          }
        }, 8000);
  
        const leftSwipe = () => {
          customChange = true;
          setTimeout(() => { customChange = false }, 6000);
          if (count === 1) {
            sliding(3);
            count = 4;
          } else {
            count -= 1;
            sliding(count - 1);
          }
        };
  
        const rightSwipe = () => {
          customChange = true;
          setTimeout(() => { customChange = false }, 6000);
          if (count === 4) {
            sliding(0);
            count = 1;
          } else {
            sliding(count);
            count += 1;
          }
        };
  
        let startX, startY;
        const handleDragStart = (e) => {
          startX = e.touches ? e.touches[0].clientX : e.clientX;
          startY = e.touches ? e.touches[0].clientY : e.clientY;
        };
  
        const handleDragMove = (e) => {
          if (e.touches) {
            const deltaX = e.touches[0].clientX - startX;
            const deltaY = e.touches[0].clientY - startY;
  
            if (Math.abs(deltaX) > Math.abs(deltaY)) {
              e.preventDefault();
            }
          }
        };
  
        const handleDragEnd = (e) => {
          let endX = e.changedTouches ? e.changedTouches[0].clientX : e.clientX;
          if (startX > endX + 50) {
            rightSwipe();
          } else if (startX < endX - 50) {
            leftSwipe();
          }
        };
  
        const slider = document.querySelector('.slider');
        slider.addEventListener('mousedown', handleDragStart);
        slider.addEventListener('touchstart', handleDragStart);
        slider.addEventListener('mousemove', handleDragMove);
        slider.addEventListener('touchmove', handleDragMove);
        slider.addEventListener('mouseup', handleDragEnd);
        slider.addEventListener('touchend', handleDragEnd);
  
        return intervalId;
      };
  
      const setupSlider = () => {
        if (window.sliderIntervalId) {
          clearInterval(window.sliderIntervalId);
        }
        window.sliderIntervalId = initializeSlider();
      };
  
      document.addEventListener('astro:page-load', setupSlider);
      document.addEventListener('astro:after-swap', setupSlider);
    })();
  </script>
