---
import HomeSliderBgImage from "./HomeSliderBgImage.astro";
---
<div class="swiper mySwiperHome">
    <div class="swiper-wrapper">
        <!--video no usara el componente -->
        <div class="swiper-slide w-full min-h-[calc(100vh-9rem)] lg:min-h-[calc(100vh-8rem)] relative">
            <div class='bg-blend-color bg-black/40 bg-fixed bg-cover bg-center w-full h-full absolute bg-no-repeat'>
                <!-- ... -->
                <video src="/assets/video/SV-WEB-opti.mp4" autoplay muted loop class="h-full w-full object-cover absolute -z-10 aspect-video" id="video-sv" poster="/assets/background-sections/poster-video.webp" />
                <div class="text-white text-xl w-full h-full xl:container xl:mx-auto flex flex-col justify-center px-4 xl:px-0">
                    <div class="flex flex-col text-start lg:gap-2">
                        <h2 class="text-2xl lg:text-6xl font-black ">TU SOCIO</h2>
                        <h3 class="text-2xl lg:text-6xl font-normal">CONFIABLE</h3>
                    </div>
                    <p class="mt-6 max-w-[540px]">Ofrecemos excelencia y una amplia gama de productos para el óptimo funcionamiento de tu equipo.</p>
                    <a href="/nosotros" class="mt-6 px-10 py-3 lg:px-10 lg:py-5 bg-sv-blue text-white rounded-full w-max transition-colors duration-300 hover:bg-sv-negro">
                        Conoce a SV
                    </a>
                </div>
            </div>
         
          
         </div>
            <HomeSliderBgImage 
            bgImage="bg-[url('/assets/banners-home-slide/Banner-portal-SV.webp')]" 
            titleBold="LO QUE NECESITAS," 
            titleNormal="FÁCIL Y RAPIDO" 
            text="Registrate ahora y accede a precios especiales dentro de nuestro portal de compras." 
            buttonText="Registrarse"
            target_blank={parseInt('1')}
            buttonHref="https://portal.sv.com.ar/crearusuario.aspx"
            />
         
             <HomeSliderBgImage 
             bgImage="bg-[url('/assets/banners-home-slide/banner-productos-home.webp')]" 
             titleBold="AMPLIA VARIEDAD" 
             titleNormal="DE PRODUCTOS" 
             text="Descubrí la mejor calidad en filtros, repuestos, herramientas de corte, tren rodante y accesorios." 
             buttonText="Nuestros productos"
             target_blank={parseInt('0')}
             buttonHref="/productos"
             />

             <HomeSliderBgImage 
             bgImage="bg-[url('/assets/banners-home-slide/SLIDER-crecemos.webp')]" 
             titleBold="CRECEMOS JUNTOS" 
             titleNormal="HACIA EL ÉXITO" 
             text="Son el motor fundamental de nuestro crecimiento, avanzamos gracias a su dedicación y compromiso." 
             buttonText="Trabajá con nosotros"
             target_blank={parseInt('0')}
             buttonHref="/nosotros/trabaja-con-nosotros"
             />

             <HomeSliderBgImage 
             bgImage="bg-[url('/assets/banners-home-slide/banner-programa-de-beneficios.webp')]" 
             titleBold="PROGRAMA DE" 
             titleNormal="BENEFICIOS" 
             text="En SV entendemos el valor de tu esfuerzo, sumate a nuestro programa y recibí grandes beneficios." 
             buttonText="Ver programa de beneficios"
             target_blank={parseInt('1')}
             buttonHref="https://sv.com.ar/programadebeneficios/"
             />
          
    </div>
    <div class="swiper-pagination-home-slide"></div>
  </div>

  <script>
    import Swiper from 'swiper';
    import 'swiper/css';
    import { Pagination,Autoplay, EffectCreative} from 'swiper/modules';
    import 'swiper/css/pagination';
    import 'swiper/css/autoplay';
    import 'swiper/css/effect-creative';
    
    document.addEventListener('astro:page-load',() => {
        new Swiper('.mySwiperHome',{
        modules:[Pagination,Autoplay,EffectCreative],
        pagination : {
            el: ".swiper-pagination-home-slide",
        },
        autoplay:{
            delay:6000
        },
        effect:'creative',
        creativeEffect:{
            prev: {
            shadow: true,
            translate: ['-20%', 0, -1],
          },
          next: {
            translate: ['100%', 0, 0],
          },
        },
        grabCursor:true,
        loop:true
    })
    })
   
</script>
<style is:inline>
    .swiper-pagination-home-slide {
        width: 100% !important;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        bottom: 50px !important;
        padding-right: 100px !important;
        z-index: 1;
    }
    .swiper-pagination-home-slide .swiper-pagination-bullet  {
        width: 10px !important;
        height: 10px !important;
        background: transparent !important;
        border: 1px solid white;
        opacity: 1;
        
    }
    .swiper-pagination-home-slide .swiper-pagination-bullet-active {
        width: 20px !important;
        height: 10px !important;
        background: white !important;
        border-radius: 5px !important;
    }
  
</style>

