<section class="slider">
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Servicios Viales me provee apoyo constante, buenos precios y
            calidad. Cuento con un gran proveedor para seguir haciendo crecer mi
            negocio. Sin duda recomendaría esta empresa. Saludos y Muchas
            gracias!
        </p>
    </div>
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Juntos logramos superar uno de los mayores problemas que tenemos en
            esta industria. El tener nuestro equipo parado. Servicios Viales ha
            estado a la altura de la circunstancia y a podido responder a
            nuestra alta demanda con rapidez. ¡Muchas gracias!
        </p>
    </div>
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Estoy satisfecho y tranquilo trabajando con Servicios Viales. Se que
            cualquier problema que tenga podremos resolverlo en conjunto. Vamos
            por más. Saludos.
        </p>
    </div>
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Servicios Viales me provee apoyo constante, buenos precios y
            calidad. Cuento con un gran proveedor para seguir haciendo crecer mi
            negocio. Sin duda recomendaría esta empresa. Saludos y Muchas
            gracias!
        </p>
    </div>
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Juntos logramos superar uno de los mayores problemas que tenemos en
            esta industria. El tener nuestro equipo parado. Servicios Viales ha
            estado a la altura de la circunstancia y a podido responder a
            nuestra alta demanda con rapidez. ¡Muchas gracias!
        </p>
    </div>
    <div class="item">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 h-14 fill-black opacity-15"
        >
            <path
                d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
            ></path></svg
        >

        <p class="text-white text-lg mt-2">
            Estoy satisfecho y tranquilo trabajando con Servicios Viales. Se que
            cualquier problema que tenga podremos resolverlo en conjunto. Vamos
            por más. Saludos.
        </p>
    </div>

    <div class="buttons relative flex items-center gap-8 justify-center mb-36 md:mb-32 flex-row-reverse">
    <button id="next">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6">
            <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            ></path></svg
        >
    </button>
    <button id="prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-6 h-6"
            >
            <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            ></path></svg
        >
    </button>
</div>
</section>

<style>
    .slider {
        @apply relative w-full min-h-[800px] overflow-hidden bg-[#F9F9F9] flex flex-col justify-end
    }
    .item {
        /* left: calc(50% - 110px); */
        @apply absolute inset-0 m-auto w-[340px] h-[360px] sm:w-[360px] sm:h-[360px] bg-sv-blue rounded-xl transition-all duration-500  text-white flex flex-col justify-center px-10 text-center items-center;
    }
    #prev,
    #next {
        @apply fill-sv-blue border border-sv-gris-light p-2 rounded-3xl text-4xl bg-white hover:fill-white hover:bg-sv-blue transition-colors duration-300 hover:border-sv-blue
    }
    
</style>
<script is:inline>
    let items = document.querySelectorAll(".slider .item");
    let active = 3;
    function loadShow() {
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = "none";
        items[active].style.opacity = 1;
        // show after
        let stt = 0;
        for (var i = active + 1; i < items.length; i++) {
            stt++;
            items[i].style.transform =
                `translateX(${120 * stt}px) scale(${1 - 0.2 * stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = 0;
            items[i].style.filter = "blur(5px)";
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for (var i = active - 1; i >= 0; i--) {
            stt++;
            items[i].style.transform =
                `translateX(${-120 * stt}px) scale(${1 - 0.2 * stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = 0;
            items[i].style.filter = "blur(5px)";
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    let next = document.getElementById("next");
    let prev = document.getElementById("prev");
    next.onclick = function () {
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    };
    prev.onclick = function () {
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    };
</script>
