---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Ferias y Eventos - Servicios Viales"
    description="ESTAMOS PRESENTES — FERIAS Y EVENTOS EVENTOS 2024 QUE VAMOS APARTICIPAR Expoagro Del 5 al 8 de marzo, se realizará Expoagro 2024 edición YPF Agro en el predio ferial y autódromo de San Nicolás, Buenos Aires. Ver Evento Expo San Juan Minera La exposición más federal de la minería argentina, con sede en la provincia […]"
>
    <section class="w-full min-h-[600px] relative">
        <video
            autoplay
            muted
            loop
            class="absolute w-full h-full object-cover object-center -z-10"
        >
            <source
                src="/assets/nosotros/video_nosotros_ferias_y_eventos_opti.mp4"
                type="video/mp4"
            />
        </video>
        <div class="w-full h-full bg-black/60">
            <div
                class="w-full xl:container px-4 xl:px-0 xl:mx-auto min-h-[600px] flex flex-col justify-center text-white"
            >
                <span class="text-lg lg:text-xl font-semibold"
                    >ESTAMOS PRESENTES —</span
                >
                <h1 class="text-[1.5rem] md:text-[3.5rem] font-black">
                    FERIAS Y EVENTOS
                </h1>
            </div>
        </div>
    </section>

    <section class="w-full py-20 px-4 xl:px-0">
        <section class="grid grid-cols-1 md:grid-cols-2 max-w-6xl mx-auto">
            <div
                class="flex flex-col justify-center text-3xl mb-5 md:mb-20 md:text-5xl text-sv-blue gap-2"
            >
                <h3 class="font-bold">EVENTOS 2024</h3>
                <h3>QUE VAMOS A</h3>
                <h3>PARTICIPAR</h3>
            </div>
            <div class="carousel-container w-full">
                <div class="carousel h-[200px] overflow-hidden relative">
                    <div
                        class="slider h-full w-[500%] flex [&>section]:basis-full [&>section]:flex [&>section]:justify-center [&>section]:items-center transition-all duration-300"
                    >
                        <section>
                            <img
                                src="/assets/nosotros/agro.webp"
                                class="object-cover"
                            />
                        </section>

                        <section>
                            <img
                                src="/assets/nosotros/expo-transporte.webp"
                                class="object-cover"
                            />
                        </section>

                        <section>
                            <img
                                src="/assets/nosotros/argentina-minning.webp"
                                class="object-cover"
                            />
                        </section>

                        <section>
                            <img
                                src="/assets/nosotros/expo-sanjuan.webp"
                                class="object-cover"
                            />
                        </section>

                        <section>
                            <img
                                src="/assets/nosotros/agroactiva.webp"
                                class="object-cover"
                            />
                        </section>
                    </div>
                    <div
                        class="controls [&>span]:absolute [&>span]:top-1/2 [&>span]:-translate-y-1/2 [&>span]:cursor-pointer"
                    >
                        <span class="arrow-left left-3">
                            <svg
                                class="w-6 h-6 fill-sv-blue"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                            >
                                <path
                                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
                                ></path></svg
                            >
                        </span>
                        <span class="arrow-right right-3">
                            <svg
                                class="w-6 h-6 fill-sv-blue"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                            >
                                <path
                                    d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
                                ></path></svg
                            >
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <div
            class="grid grid-cols-1 md:grid-cols-3 max-w-6xl mx-auto mt-10 gap-10 md:gap-5"
        >
            <div
                class="flex flex-col gap-5 items-center justify-center text-center md:px-2"
            >
                <lite-youtube
                    videoid="KURcSaqAM1s"
                    videotitle="CRECER, es por acá. INNOVAR, es por acá. #Expoagro2024 edición YPF AGRO"
                    class="w-full h-full"></lite-youtube>
                <h4 class="text-sv-blue text-2xl font-semibold">EXPOAGRO</h4>
                <p class="text-sm text-[#7a7a7a] font-light">
                    Del 5 al 8 de marzo, se realizará Expoagro 2024 edición YPF
                    Agro en el predio ferial y autódromo de San Nicolás, Buenos
                    Aires.
                </p>
                <a
                    href="https://www.expoagro.com.ar/evento/expoagro-2024/"
                    target="_blank"
                    rel="noreferrer"
                    title="Ver evento"
                    class="bg-sv-negro text-white px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue"
                >
                    Ver evento
                </a>
            </div>
            <div
                class="flex flex-col gap-5 items-center justify-center text-center md:px-2"
            >
                <lite-youtube
                    videoid="-LMIiGJpOmo"
                    videotitle="14.000 personas vibraron con la EXPO SAN JUAN MINERA 2022"
                    class="w-full h-full"></lite-youtube>
                <h4 class="text-sv-blue text-2xl font-semibold">
                    Expo San Juan Minera
                </h4>
                <p class="text-sm text-[#7a7a7a] font-light">
                    La exposición más federal de la minería argentina, con sede
                    en la provincia de San Juan. 21 al 23 de mayo, 2024.
                    Organiza Panorama Minero
                </p>
                <a
                    href="https://agroactiva.com/agroactiva2024"
                    target="_blank"
                    rel="noreferrer"
                    title="Ver evento"
                    class="bg-sv-negro text-white px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue"
                >
                    Ver evento
                </a>
            </div>
            <div
                class="flex flex-col gap-5 items-center justify-center text-center md:px-2"
            >
                <lite-youtube
                    videoid="2-SI_HGYFac"
                    videotitle="CRECER, es por acá. INNOVAR, es por acá. #Expoagro2024 edición YPF AGRO"
                    class="w-full h-full"></lite-youtube>
                <h4 class="text-sv-blue text-2xl font-semibold">Agroactiva</h4>
                <p class="text-sm text-[#7a7a7a] font-light">
                    Del 5 al 8 de Junio , SV estará presente en Agroactiva 2024
                    en Armstrong, provincia de Santa De. De fierro, nacida para
                    durar.
                </p>
                <a
                    href="https://agroactiva.com/agroactiva2024"
                    target="_blank"
                    rel="noreferrer"
                    title="Ver evento"
                    class="bg-sv-negro text-white px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue"
                >
                    Ver evento
                </a>
            </div>
            <div
                class="flex flex-col gap-5 items-center justify-center text-center md:px-2 mt-10"
            >
                <lite-youtube
                    videoid="f9w5qW_Eqdc"
                    videotitle="CRECER, es por acá. INNOVAR, es por acá. #Expoagro2024 edición YPF AGRO"
                    class="w-full h-full"></lite-youtube>
                <h4 class="text-sv-blue text-2xl font-semibold">
                    Expotransporte
                </h4>
                <p class="text-sm text-[#7a7a7a] font-light">
                    Del 13 al 15 de agosto 2024 en la rural se llevará acabó la
                    13° Exposición internacional de equipamiento y tecnología
                    del autotransporte
                </p>
                <a
                    href="https://www.expotransporte.com.ar/"
                    target="_blank"
                    rel="noreferrer"
                    title="Ver evento"
                    class="bg-sv-negro text-white px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue"
                >
                    Ver evento
                </a>
            </div>
            <div
                class="flex flex-col gap-5 items-center justify-center text-center md:px-2 mt-5"
            >
                <lite-youtube
                    videoid="36LAlC6n4to"
                    videotitle="CRECER, es por acá. INNOVAR, es por acá. #Expoagro2024 edición YPF AGRO"
                    class="w-full h-[100px]"></lite-youtube>
                <h4 class="text-sv-blue text-2xl font-semibold">
                    Expo Argentina Minnig
                </h4>
                <p class="text-sm text-[#7a7a7a] font-light min-h-16">
                    Argentina Mining es el encuentro internacional premium del
                    sector minero argentino.
                </p>
                <a
                    href="https://www.expoagro.com.ar/evento/expoagro-2024/"
                    target="_blank"
                    rel="noreferrer"
                    title="Ver evento"
                    class="bg-sv-negro text-white px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue"
                >
                    Ver evento
                </a>
            </div>
        </div>
    </section>
</Layout>

<script>
      import "@justinribeiro/lite-youtube";
    document.addEventListener("astro:page-load", () => {
      

        const slider = document.querySelector(".slider") as HTMLElement;
        const leftArrow = document.querySelector(".arrow-left");
        const rightArrow = document.querySelector(".arrow-right");
        let sectionIndex = 0;
        leftArrow?.addEventListener("click", () => {
            sectionIndex = sectionIndex > 0 ? sectionIndex - 1 : 0;
            slider.style.transform = "translate(" + sectionIndex * -20 + "%)";
        });
        rightArrow?.addEventListener("click", () => {
            sectionIndex = sectionIndex < 4 ? sectionIndex + 1 : 4;
            slider.style.transform = "translate(" + sectionIndex * -20 + "%)";
        });
    });
</script>
