---
import SectionHero from "../../components/nosotrosPage/SectionHero.astro";
import TabSection from "../../components/nosotrosPage/TabSection.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Nosotros - Servicios Viales"
    description="SOMOS DIFERENTES — LIDERANDO JUNTOS LA INDUSTRIA CONOCE — NUESTRA HISTORIA Nuestra marca es la reputación que hemos construido durante años y estamos comprometidos a diferenciarnos brindando un servicio superior para nuestros clientes. 1986 2000 2010 2015 2017 2019 2021 2024 Nuestro viaje comenzó humildemente en 1986 como taller de reparación de camiones y maquinaria […]"
>
    <SectionHero
        bgImageUrl='/assets/nosotros/bg-nosotros.webp'
        span="SOMOS DIFERENTES —"
        titleBold="LIDERANDO JUNTOS"
        titleNormal="LA INDUSTRIA"
    />
    <section class="w-full py-20">
        <div class="w-full px-4 xl:container xl:px-0 xl:mx-auto flex flex-col">
            <div
                class="flex flex-col md:flex-row items-start gap-2 md:gap-0 md:items-center"
            >
                <div class="text-sv-blue w-full md:w-2/4">
                    <span class="text-xs font-semibold ml-1">CONOCE —</span>
                    <h3 class="font-black text-5xl">NUESTRA</h3>
                    <h3 class="text-5xl">HISTORIA</h3>
                </div>
                <div class="w-full md:w-2/4">
                    <p class="text-xl">
                        Nuestra marca es la reputación que hemos construido
                        durante años y estamos comprometidos a diferenciarnos
                        brindando un servicio superior para nuestros clientes.
                    </p>
                </div>
            </div>

            <TabSection />
        </div>
    </section>
    <section
        class="w-full bg-sv-blue flex flex-col text-start md:text-center items-start md:items-center py-20 text-white px-4 lg:px-0"
    >
        <h4 class="text-2xl md:text-5xl">ENFRENTANDO</h4>
        <h4 class="text-2xl md:text-5xl md:leading-[4rem]">
            LOS <strong>DESAFÍOS JUNTOS</strong>
        </h4>
        <div class="text-xl max-w-xl mt-5">
            <p class="font-black">
                Contamos con más de 35 años de experiencia en el mercado de
                repuestos y accesorios para equipos pesados.
            </p>
            <p>
                Nos enorgullece ser la elección de las marcas más reconocidas a
                nivel mundial y garantizar alta calidad en productos
                alternativos a nivel nacional.
            </p>
        </div>

        <div
            class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-5 min-h-[280px] max-w-7xl"
        >
            <div
                class="flex flex-col items-center text-center justify-center px-10 h-full rounded-3xl shadow-2xl md:w-2/4 md:mx-auto lg:w-full py-5 lg:py-0"
            >
                <img
                loading="lazy"
                    src="/assets/compromiso.png"
                    alt="logo compromiso"
                    width="60"
                    height="60"
                />
                <span class="text-xl font-black mt-5">COMPROMISO</span>
                <p class="text-base font-normal min-h-32">
                    Nuestras promesas son sinónimos de cumplimiento. A lo largo
                    de nuestra trayectoria, hemos podido satisfacer a nuestros
                    clientes.
                </p>
            </div>

            <div
                class="flex flex-col items-center text-center justify-center px-10 h-full rounded-3xl shadow-2xl md:w-2/4 md:mx-auto lg:w-full py-5 lg:py-0"
            >
                <img
                loading="lazy"
                    src="/assets/responsabilidad.png"
                    alt="logo compromiso"
                    width="60"
                    height="60"
                />
                <span class="text-xl font-black mt-5">RESPONSABILIDAD</span>
                <p class="text-base font-normal min-h-32">
                    Tomamos cada operación como única, ya que nuestros productos
                    son parte fundamental para el crecimiento y desarrollo de
                    nuestros clientes.
                </p>
            </div>

            <div
                class="flex flex-col items-center text-center justify-center px-10 h-full rounded-3xl shadow-2xl md:w-2/4 md:mx-auto lg:w-full py-5 lg:py-0"
            >
                <img
                loading="lazy"
                    src="/assets/honestidad.png"
                    alt="logo compromiso"
                    width="60"
                    height="60"
                />
                <span class="text-xl font-black mt-5">HONESTIDAD</span>
                <p class="text-base font-normal min-h-32">
                    Creemos que es de suma importancia ser sinceros con nuestros
                    clientes, asesorarlos pensando en su mejor beneficio.
                </p>
            </div>
        </div>
    </section>

    <!-- section seguimos extendiendo -->
    <section class="w-full py-20">
        <div class="px-4 xl:px-0 w-full xl:container xl:mx-auto">
            <h4 class="text-4xl font-semibold text-sv-blue">
                Seguimos extendiendo
            </h4>
            <h4 class="text-4xl font-black text-sv-blue">
                nuestro legado en Argentina
            </h4>
            <p class="text-xl text-black mt-5 max-w-3xl">
                Nuestra casa central y nuestras sucursales están ubicadas de
                manera estratégica para estar cerca de ti y brindarte soluciones
                de calidad en todo momento.
            </p>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-16 mt-5">
                <div class="flex flex-col">
                    <img src="/assets/nosotros/legado/santaFe.webp" loading="lazy" class="object-fill object-center" />
                    <h5 class="text-2xl font-semibold mt-5">Santa Fe</h5>
                    <input type="checkbox" hidden id="sucursal_santafe" class="peer" />
                    <label for="sucursal_santafe" class="flex items-center gap-2 text-xl cursor-pointer">
                        <svg
                            class="w-3 h-3 transition-all duration-300"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            >
                            <path
                                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path></svg
                        >
                        Rosa Carmen All 1551
                    </label>
                    <div class="mt-2 max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]">
                        <p class="text-sv-gris-bold">En nuestra sucursal de Santa Fe, contamos con un amplio espacio de 7.000 metros cuadrados y 18.000 códigos de una impresionante variedad.</p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <img src="/assets/nosotros/legado/bsas.webp" loading="lazy" class="object-fill object-center" />
                    <h5 class="text-2xl font-semibold mt-5">Buenos aires</h5>
                    <input type="checkbox" hidden id="sucursal_bsas" class="peer">
                    <label for="sucursal_bsas" class="flex items-center gap-2 text-xl cursor-pointer">
                        <svg
                            class="w-3 h-3 transition-all duration-300"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            >
                            <path
                                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path></svg
                        >
                        Patagones 2455, CABA
                    </label>
                    <div class="mt-2 max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]">
                        <p class="text-sv-gris-bold">Nuestra sucursal en Buenos Aires es un rincón especial con 1.500 metros cuadrados que almacenan más de 5.000 códigos para satisfacer tus necesidades.</p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <img src="/assets/nosotros/legado/mendoza.webp" loading="lazy" class="object-fill object-center"/>
                    <h5 class="text-2xl font-semibold mt-5">Mendoza</h5>
                    <input type="checkbox" hidden id="sucursal_mendoza" class="peer"/>
                    <label for="sucursal_mendoza" class="flex items-center gap-2 text-xl cursor-pointer">
                        <svg
                            class="w-3 h-3 transition-all duration-300"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            >
                            <path
                                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path></svg
                        >
                        Carril Rodríguez Peña 2710
                    </label>
                    <div class="mt-2 max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]">
                        <p class="text-sv-gris-bold">En Mendoza, nuestro espacio de 2.000 metros cuadrados alberga una selección de 4.000 códigos esenciales.</p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <img src="/assets/nosotros/legado/salta.webp" loading="lazy" class="object-fill object-center"/>
                    <h5 class="text-2xl font-semibold mt-5">Salta</h5>
                    <input type="checkbox" hidden id="sucursal_salta" class="peer"/>
                    <label for="sucursal_salta" class="flex items-center gap-2 text-xl cursor-pointer">
                        <svg
                            class="w-3 h-3 transition-all duration-300"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            >
                            <path
                                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path></svg
                        >
                        Av. Circunvalación Sureste Km 1.6
                    </label>
                    <div class="mt-2 max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]">
                        <p class="text-sv-gris-bold">En nuestra sucursal de Salta contamos con 4000 metros cuadrados de depósito y más de 8000 códigos que abastecen al NOA.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- div ferias -->
    <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
       <div class="bg-sv-blue flex flex-col justify-center text-white py-4">
           <div class="flex flex-col items-start max-w-3xl mx-auto px-4 md:px-0 md:pl-4">
            <span>SV PRESENTE —</span>
            <h4 class="text-4xl md:text-5xl font-black">FERIAS Y EVENTOS DE</h4>
            <h4 class="text-4xl md:text-5xl font-semibold">DE LA INDUSTRIA</h4>
            <p class="text-xl mt-10 md:max-w-lg">
                Explora nuestra participación en ferias y eventos. Mantenete al día con las últimas novedades y noticias de nuestra empresa...
            </p> 
        <a href="/nosotros/ferias-y-eventos" title="Agenda" class="bg-white text-sv-blue font-semibold px-10 py-4 rounded-full mt-10 text-lg transition-colors duration-300 hover:bg-sv-negro hover:text-white">
            Ver agenda
        </a>
           </div>
       </div>
       <div class="min-h-[50vh] md:min-h-screen relative">
        <img src="/assets/nosotros/IMG_Agroactiva_2022-1920.webp" alt="agroactiva" class="absolute w-full h-full inset-0 object-cover object-center" loading="lazy" />
      </div>
    </div>
    <!-- div acompaña -->
    <div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
        <div class="min-h-[50vh] md:min-h-screen relative">
            <img src="/assets/nosotros/camiseta-union.webp" alt="imagen union" class="absolute w-full h-full inset-0 object-cover object-center" loading="lazy" />
        </div>
        <div class="bg-sv-blue flex flex-col justify-center text-white py-4">
            <div class="flex flex-col items-start max-w-3xl mx-auto px-4 md:px-0 md:pl-4">
             <span>SV ACOMPAÑA —</span>
             <h4 class="text-4xl md:text-5xl font-semibold">NUESTRA PARTICIPACIÓN</h4>
             <h4 class="text-4xl md:text-5xl font-black">COMO SPONSOR</h4>
             <p class="text-xl mt-10 md:max-w-lg">
                Estamos orgullosos de anunciar que somos patrocinadores de Unión de Santa Fe. Apoyando al equipo y a sus fans en los diferentes logros y desafíos.
             </p> 
         <a href="https://www.clubaunion.com.ar/" target="_blank" rel="noreferrer" title="Agenda" class="bg-white text-sv-blue font-semibold px-10 py-4 rounded-full mt-10 text-lg transition-colors duration-300 hover:bg-sv-negro hover:text-white">
             Conoce a unión
         </a>
            </div>
        </div>
     </div>
</Layout>

<style>

    #sucursal_santafe:checked + label svg{
        transform: rotate(180deg);
        fill: blue;
    }
    #sucursal_bsas:checked + label svg{
        transform: rotate(180deg);
        fill: blue;
    }
    #sucursal_mendoza:checked + label svg{
        transform: rotate(180deg);
        fill: blue;
    }
    #sucursal_salta:checked + label svg{
        transform: rotate(180deg);
        fill: blue;
    }
</style>
