---
import SectionModalsForm from "../../components/contactoPage/SectionModalsForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Contacto - Servicios Viales"
    description="MANTENGAMOS LA CHARLA — CONTACTO Atenciónal cliente Completa el formulario a continuación y nuestro equipo de soporte te brindará la asistencia que necesitas. Contactar ahora Solicitud depiezas especiales Por favor, completa este formulario para que podamos atender tu solicitud y proporcionar la solución que requieres. Solicitar Piezas Encuestade satisfacción Tu opinión es fundamental para nosotros […]"
>
    <section
        class="min-h-[600px] w-full bg-[url('/assets/background-sections/bg-contacto.webp')] bg-cover bg-center bg-blend-color bg-black/40 flex flex-col justify-center text-white"
    >
        <div class="w-full xl:container px-4 xl:px-0 xl:mx-auto">
            <span class="text-lg md:text-xl font-normal ml-1"
                >MANTENGAMOS LA CHARLA —</span
            >
            <h1 class="text-5xl md:text-6xl font-black tracking-wide">
                CONTACTO
            </h1>
        </div>
    </section>
    <SectionModalsForm />
    <section class="w-full bg-sv-gris-light py-20">
        <div class="w-full xl:container px-4 xl:px-0 xl:mx-auto flex flex-col gap-10 lg:gap-0 lg:flex-row">
            <form class="bg-white rounded-2xl p-8 w-full lg:w-2/3">
                <h4 class="text-2xl sm:text-3xl font-bold">Contactá un Asesor</h4>
                <div class="flex flex-col gap-5 w-full mt-5">
                    <input
                        type="text"
                        placeholder="Nombre y apellido"
                        required
                    />
                    <div class="flex flex-col sm:flex-row gap-5 sm:gap-3">
                        <input
                            type="text"
                            placeholder="Razón social"
                            required
                        />
                        <input type="number" placeholder="CUIT" required />
                        <select>
                            <option selected value="consumidor"
                                >Consumidor Final</option
                            >
                            <option value="revendedor">Revendedor</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Empresa" />
                    <textarea rows="6" placeholder="Consulta" required
                    ></textarea>
                    <button
                        type="submit"
                        class="bg-sv-negro text-white w-32 py-4 mx-auto rounded-full"
                        >Enviar</button
                    >
                </div>
            </form>

            <div class="lg:p-8 flex flex-col gap-5">
                <h4 class="text-3xl font-bold">Dirección</h4>
                <div class="flex flex-col gap-6">
                <div class="flex flex-row items-center gap-2">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                        >
                        <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                        ></path></svg
                    >
                    <div class="flex flex-col">
                        <span class="font-bold">Santa Fe</span>
                        <p class="leading-4">
                            Rosa Carmen All 1551 (Puerto), Santa Fe Capital
                        </p>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-2">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                        >
                        <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                        ></path></svg
                    >
                    <div class="flex flex-col">
                        <span class="font-bold">Buenos Aires</span>
                        <p class="leading-4">
                            Patagones 2455, CABA
                        </p>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-2">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                        >
                        <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                        ></path></svg
                    >
                    <div class="flex flex-col">
                        <span class="font-bold">Mendoza</span>
                        <p class="leading-4">
                            Carril Rodríguez Peña 2710, Godoy Cruz
                        </p>
                    </div>
                </div>

            </div>
            <hr class="bg-black text-black w-full h-[2px]"/>
            <div class="flex flex-col gap-6">
                <h4 class="text-3xl font-bold">Contacto</h4>
                <div class="flex flex-col">
                    <span class="font-bold">Email</span>
                    <p class="leading-4">
                        contacto@serviciosviales.com.ar
                    </p>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold">Teléfono</span>
                    <p class="leading-4">
                        +54 9 (342) 631-1894
                    </p>
                    <p class="leading-6">
                        0810-888-8686
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
</Layout>
<style>
    input {
        @apply w-full;
    }
    input[type="text"],
    input[type="number"],
    textarea,
    select {
        @apply outline-none transition-colors duration-300 focus:border-sv-blue border border-solid border-[#DBDBDB] rounded-lg p-4;
    }
</style>
