---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="FAQ’s - Servicios Viales"
    description="CONSULTE — PREGUNTAS FRECUENTES ¿Cuál es su catalogo? ¿Cómo puedo conseguir uno? Nuestro catálogo presenta una descripción general de todas las categorías de productos y segmentos a los que servimos. Puede descargarlo desde nuestra sección productos dentro del banner principal, también si desea recibir una copia impresa, envíenos un correo electrónico con una solicitud"
>
    <section
        class="min-h-[600px] w-full bg-blend-color bg-black/40 flex flex-col justify-center text-white relative"
    >
    <img src="/assets/background-sections/bg-faq.webp" alt="preguntas frecuentes" class="absolute w-full h-full inset-0 object-cover object-center -z-10" loading="eager" />
        <div class="w-full xl:container px-4 xl:px-0 xl:mx-auto">
            <span class="text-lg md:text-xl font-normal ml-1">CONSULTE —</span>
            <h1 class="text-4xl md:text-6xl font-black tracking-wide">
                PREGUNTAS FRECUENTES
            </h1>
        </div>
    </section>
    <section class="w-full bg-sv-gris-regular py-32 px-4 xl:px-0">
        <div
            class="relative w-full xl:container xl:mx-auto bg-white rounded-2xl p-4 md:p-8 flex flex-col gap-14"
        >
            <div>
                <input type="checkbox" hidden id="faq_1" class="peer" />
                <label
                    for="faq_1"
                    class="text-xs md:text-xl font-semibold flex items-center justify-between  gap-2 md:gap-0 peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cuál es su catalogo? ¿Cómo puedo conseguir uno?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6 peer-checked:fill-sv-blue"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Nuestro catálogo presenta una descripción general de
                        todas las categorías de productos y segmentos a los que
                        servimos. Puede descargarlo desde nuestra sección
                        productos dentro del banner principal, también si desea
                        recibir una copia impresa, envíenos un correo
                        electrónico con una solicitud.
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_2" class="peer" />
                <label
                    for="faq_2"
                    class="text-xs md:text-xl gap-2 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cómo me puedo convertir en revendedor y/o distribuidor?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Para convertirte en revendedor y/o distribuidor, el
                        proceso es sencillo. Simplemente envía tus datos a
                        través del formulario de contacto para solicitar la
                        asesoría de un representante. Completando este
                        formulario, ahorrarás más tiempo en el proceso de alta
                        como revendedor. También puedes ponerte en contacto con
                        nosotros a través de nuestras líneas telefónicas
                        disponibles. Estamos aquí para ayudarte a comenzar tu
                        camino como revendedor y responder cualquier pregunta
                        que puedas tener sobre el proceso. ¡Esperamos trabajar
                        juntos pronto
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_3" class="peer" />
                <label
                    for="faq_3"
                    class="text-xs md:text-xl gap-5 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cúanto tiempo tarda en estar listo mi pedido?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Su pedido se procesa de inmediato. La mayoría de los
                        pedidos los enviamos en el día, de todas formas, el
                        tiempo de despacho está sujeto por otras variables.
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_4" class="peer" />
                <label
                    for="faq_4"
                    class="text-xs md:text-xl gap-5 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cómo gestiono una devolución?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Para gestionar una devolución, simplemente dirígete a la
                        sección de contacto en nuestro sitio web y completa el
                        formulario de devolución o ponte en contacto
                        directamente con nuestro equipo de atención al cliente.
                        Estaremos encantados de ayudarte con el proceso de
                        devolución y resolver cualquier duda que puedas tener.
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_5" class="peer" />
                <label
                    for="faq_5"
                    class="text-xs md:text-xl gap-5 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Realizan envíos a todo el país?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Sí, realizamos envíos a todo el país. Nos esforzamos por
                        ofrecer un servicio de entrega rápido y confiable a
                        todos nuestros clientes, independientemente de su
                        ubicación. ¡Así que puedes estar seguro de que recibirás
                        tus productos donde sea que te encuentres en el país!
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_6" class="peer" />
                <label
                    for="faq_6"
                    class="text-xs md:text-xl gap-5 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cuáles son los beneficios de tener su portal de compras en
                    línea?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Al tener nuestro portal de compras en línea, disfrutarás
                        de una serie de beneficios significativos. En primer
                        lugar, contamos con la mejor base de cruces y/o
                        equivalencias a nivel nacional, lo que garantiza que
                        encuentres exactamente lo que necesitas. Además, podrás
                        realizar tus compras de manera fácil, segura y rápida.
                        Nuestro portal está diseñado para brindarte una
                        experiencia de compra sin complicaciones y un proceso de
                        compra intuitivo. Así que no solo ahorras tiempo y
                        esfuerzo, sino que también tienes la tranquilidad de
                        saber que estás adquiriendo productos de calidad de
                        forma conveniente y confiable.
                    </p>
                </div>
            </div>
            <div>
                <input type="checkbox" hidden id="faq_7" class="peer" />
                <label
                    for="faq_7"
                    class="text-xs md:text-xl gap-5 md:gap-0 font-semibold flex items-center justify-between peer-checked:text-sv-blue cursor-pointer"
                >
                    ¿Cómo me pongo en contacto con un representante de ventas en
                    mi zona?
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
                        ></path></svg
                    >
                </label>
                <div
                    class="content max-h-0 overflow-hidden transition-all duration-300 peer-checked:max-h-[300px]"
                >
                    <p class="text-lg mt-5">
                        Puedes ponerte en contacto con un representante de
                        ventas en tu zona de varias formas. Una opción es
                        ingresar a la sección de contacto en nuestro sitio web y
                        completar el formulario de contacto para solicitar un
                        asesor. También puedes comunicarte con nosotros a través
                        de cualquiera de nuestras líneas telefónicas disponibles
                        o mediante WhatsApp. Estamos aquí para ayudarte y
                        responder cualquier pregunta que puedas tener sobre
                        nuestros productos y servicios. ¡No dudes en
                        contactarnos para obtener la atención personalizada que
                        necesitas!
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>
<style>
    #faq_1:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_2:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_3:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_4:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_5:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_6:checked + label svg {
        @apply fill-sv-blue
    }
    #faq_7:checked + label svg {
        @apply fill-sv-blue
    }
</style>