---
interface Props {
    titleBold:string;
    subtitle:string;
    bgImage:string; //Que me pasen el background image
}
const {titleBold,subtitle,bgImage} = Astro.props;
---
<section
class={`min-h-[25rem] w-full ${bgImage} bg-cover bg-center bg-blend-color bg-black/65 flex flex-col justify-center items-center`}
>
<div class="flex flex-col text-white text-4xl md:text-6xl text-center">
    <h2 class="font-black leading-tight">{ titleBold }</h2>
    <h2 class="font-semibold">{ subtitle }</h2>
</div>

    <slot name="images" />
</section>