---
import CardProductos from "../../components/productosPage/CardProductos.astro";
import SectionHero from "../../components/productosPage/SectionHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Repuestos y accesorios - Servicios Viales"
    description="REPUESTOS +ACCESORIOS Repuestos de Motor Optimiza el rendimiento con repuestos de alta calidad, asegurando durabilidad y eficiencia. Desde pistones hasta juntas, nuestra gama de productos cubre todas las necesidades de tu motor. Contactanos Sistema de Trasmisión Maximiza la eficiencia y la potencia con repuestos para el sistema de transmisión. Desde embragues hasta ejes"
>
    <SectionHero
        titleBold="REPUESTOS +"
        subtitle="ACCESORIOS"
        bgImageUrl='/assets/background-sections/bg-repuestos.webp'
    >
        <div
            slot="images"
            class="flex flex-wrap justify-center items-center gap-x-5 md:gap-x-[1.875rem] -mb-20"
        >
            <img
                loading="eager"
                src="/assets/icons-productos/logo-blumaq.webp"
                class="w-[5.625rem] h-[5.625rem] object-contain"
            />

            <img
                loading="eager"
                src="/assets/icons-productos/logo-ktn.svg"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />

            <img
                loading="eager"
                src="/assets/icons-productos/logo-ctp.svg"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />

            <img
                loading="eager"
                src="/assets/icons-productos/logo-itr.webp"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />
            <img
                loading="eager"
                src="/assets/icons-productos/logo-cgr.webp"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />
            <img
                src="/assets/icons-productos/logo-itm.webp"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />
            <img
                loading="eager"
                src="/assets/icons-productos/logo-nordic-lights-3.svg"
                class="w-[5.625rem] h-[5.625rem] object-contain"
            />
            <img
                loading="eager"
                src="/assets/icons-productos/logo-mr.svg"
                class="w-[2.1875rem] h-[2.1875rem] object-contain"
            />
        </div>
    </SectionHero>
    <section class="w-full bg-sv-gris-light">
        <div class="px-4 w-full xl:px-0 xl:max-w-6xl xl:mx-auto flex flex-col">
            <CardProductos
                imageUrl="/assets/repuestos-accesorios/repuestos-motor-01.webp"
                title="Repuestos de Motor"
            >
                <p slot="texto" class="text-base">
                    Optimiza el rendimiento con <strong
                        >repuestos de alta calidad,</strong
                    > asegurando durabilidad y eficiencia. Desde pistones hasta juntas,
                    nuestra gama de productos cubre todas las necesidades de tu motor.
                </p>
            </CardProductos>

            <CardProductos
                imageUrl="/assets/repuestos-accesorios/trasmision-01-1.webp"
                title="Sistema de Trasmisión"
            >
                <p slot="texto" class="text-base">
                    <strong>Maximiza la eficiencia y la potencia</strong> con repuestos
                    para el sistema de transmisión. Desde embragues hasta ejes, nuestra
                    selección de repuestos garantiza un rendimiento óptimo y duradero
                    en cualquier terreno.
                </p>
            </CardProductos>

            <CardProductos
                imageUrl="/assets/repuestos-accesorios/hidraulico-01-1.webp"
                title="Sistema Hidráulico"
            >
                <p slot="texto" class="text-base">
                    Mantené la armonía del sistema con <strong
                        >componentes hidráulicos de primera categoría.</strong
                    > Desde bombas hasta enfriadores, nuestras piezas aseguran un
                    funcionamiento sin problemas.
                </p>
            </CardProductos>

            <CardProductos
                imageUrl="/assets/repuestos-accesorios/electrico-01-1.webp"
                title="Sistema Eléctrico"
            >
                <p slot="texto" class="text-base">
                    Potenciá tu equipo con <strong
                        >componentes eléctricos confiables.</strong
                    > Desde motores de arranque hasta alternadores avanzados, nuestro
                    amplio catálogo ofrece soluciones eficientes para mantener tu
                    equipo en marcha.
                </p>
            </CardProductos>
            <CardProductos
                imageUrl="/assets/repuestos-accesorios/turbo-inyeccion-01-1.webp"
                title="Inyección y Turbo"
            >
                <p slot="texto" class="text-base">
                    Amplia gama de productos innovadores diseñados para mejorar
                    y potenciar el rendimiento de tu motor. Desde <strong
                        >inyectores de última generación hasta sistemas de turbo
                        alimentación de alta eficiencia.</strong
                    >
                </p>
            </CardProductos>
            <CardProductos
                imageUrl="/assets/repuestos-accesorios/accesorios-01-1-1.webp"
                title="Otros y Accesorios"
            >
                <p slot="texto" class="text-base">
                    <strong
                        >Dale calidad a tu equipo y confía en nuestra
                        experiencia para mantener tu equipo en óptimas
                        condiciones.</strong
                    > Desde pernos y bujes hasta rodamientos, luminaria, correas
                    y repuestos de cabina.
                </p>
            </CardProductos>
        </div>
    </section>
</Layout>
