<footer>
   <!-- Logo slider -->
   <div class="slider w-full h-auto m-auto overflow-hidden bg-white py-2">
      <div class="slide-track flex">
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-1.webp"
               alt="logo donaldson"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-2.svg"
               alt="logo ktn"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-3.webp"
               alt="logo hifi"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-4.webp"
               alt="logo turbo"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-5.webp"
               alt="logo ggrghinassi"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-6.webp"
               alt="logo itm"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-7.webp"
               alt="logo mr"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-8.webp"
               alt="logo ctp"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-9.webp"
               alt="logo itr"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-10.webp"
               alt="logo nordiclights"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-11.webp"
               alt="logo blumaq"
               class="w-full"
               loading="lazy"
            />
         </div>

         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-1.webp"
               alt="logo donaldson"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-2.svg"
               alt="logo ktn"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-3.webp"
               alt="logo hifi"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-4.webp"
               alt="logo turbo"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-5.webp"
               alt="logo ggrghinassi"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-6.webp"
               alt="logo itm"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-7.webp"
               alt="logo mr"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-8.webp"
               alt="logo ctp"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-9.webp"
               alt="logo itr"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-10.webp"
               alt="logo nordiclights"
               class="w-full"
               loading="lazy"
            />
         </div>
         <div class="slide">
            <img
               src="/assets/logo-marcas-slider-footer/NEGRO_LOGO-WEB-11.webp"
               alt="logo blumaq"
               class="w-full"
               loading="lazy"
            />
         </div>
      </div>
   </div>
   <section
      class="w-full bg-sv-negro-light flex flex-col lg:flex-row px-4 lg:px-0"
   >
      <div
         class="bg-transparent w-full lg:border-r lg:border-solid lg:border-white text-white flex flex-col lg:flex-row gap-2 lg:gap-16 py-20 justify-center"
      >
         <div class="flex flex-col gap-5 lg:ml-5">
            <a
               href="https://www.google.com.ar/maps/place/Rosa+Carmen+All+1551,+S3000+Santa+Fe+de+la+Vera+Cruz,+Santa+Fe/@-31.6468145,-60.6961806,17z/data=!3m1!4b1!4m6!3m5!1s0x95b5a99946d240df:0x5c21457d896848fd!8m2!3d-31.6468145!4d-60.6936057!16s%2Fg%2F11sdm6g41b?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D"
               title="Maps - Rosa Carmen All 1551 (Puerto), Santa Fe Capital"
               rel="noreferrer"
               target="_blank"
            >
               <p class="font-bold">Santa Fe</p>
               <span>Rosa Carmen All 1551 (Puerto), Santa Fe Capital</span>
            </a>
            <a
               href="https://www.google.com.ar/maps/place/Patagones+2455,+C1282ACA+Cdad.+Aut%C3%B3noma+de+Buenos+Aires/@-34.6364629,-58.3988691,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccb1675e6c24d:0xfba7768f81b8d2ec!8m2!3d-34.6364629!4d-58.3962942!16s%2Fg%2F11fmz7dp86?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D"
               title="Maps - Patagones 2455, CABA"
               target="_blank"
               rel="noreferrer"
            >
               <p class="font-bold">Buenos Aires</p>
               <span>Patagones 2455, CABA</span>
            </a>

            <a
               href="https://www.google.com.ar/maps/place/Carril+Rodr%C3%ADguez+Pe%C3%B1a+2710,+M5501+Godoy+Cruz,+Mendoza/@-32.9288837,-68.8125958,17z/data=!3m1!4b1!4m6!3m5!1s0x967e0c07ee43d2e9:0x6aeed520c1860078!8m2!3d-32.9288837!4d-68.8100209!16s%2Fg%2F11rpkm6pyy?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D"
               title="Maps - Carril Rodríguez Peña 2710, Godoy Cruz"
               target="_blank"
               rel="noreferrer"
            >
               <p class="font-bold">Mendoza</p>
               <span>Carril Rodríguez Peña 2710, Godoy Cruz</span>
            </a>
            <a
               href="https://www.google.com.ar/maps/place/SV+(Salta)+-+Servicios+Viales/@-24.8562431,-65.4190901,17z/data=!3m1!4b1!4m6!3m5!1s0x941bdda1a2142131:0xc1249492a6664d41!8m2!3d-24.8562431!4d-65.4165152!16s%2Fg%2F11wc1w1jlv?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D"
               title="Maps - Circunvalación sudeste km 1,6 Urbanización Terranova"
               target="_blank"
               rel="noreferrer"
            >
               <p class="font-bold">Salta</p>
               <span>Circunvalación sudeste km 1,6 Urbanización Terranova</span>
            </a>
            <div class="mt-5">
               <a
                  href="/políticas-de-privacidad"
                  title="políticas de privacidad"
                  class="text-gray-300 hover:underline"
               >
                  Políticas de privacidad
               </a>
            </div>
         </div>
         <div
            class="flex flex-col gap-5 lg:mr-5 pt-4 lg:pt-0 border-t border-sv-gris-light lg:border-t-0"
         >
            <div class="flex flex-col">
               <p class="font-bold">Email</p>
               <span>contacto@serviciosviales.com.ar</span>
            </div>
            <div class="flex flex-col">
               <p class="font-bold">Teléfono</p>
               <span>+54 9 (342) 631-1894</span>
               <span>0810-888-8686</span>
            </div>
            <div class="flex items-center gap-4">
               <a
                  href="https://www.instagram.com/sv.importador/"
                  target="_blank"
                  rel="noreferrer"
                  class="bg-white p-2 flex text-center items-center justify-center rounded-full transition-colors duration-300 hover:bg-sv-negro-light text-black hover:fill-white"
                  ><svg
                     class="w-4 h-4"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512"
                  >
                     <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                     ></path></svg
                  ></a
               >
               <a
                  href="https://www.facebook.com/sv.importador/?locale=es_LA"
                  target="_blank"
                  rel="noreferrer"
                  class="bg-white p-2 flex text-center items-center justify-center rounded-full transition-colors duration-300 hover:bg-sv-negro-light text-black hover:fill-white"
                  ><svg
                     class="w-4 h-4"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 320 512"
                  >
                     <path
                        d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
                     ></path></svg
                  ></a
               >
               <a
                  href="https://www.linkedin.com/company/sv-importador/"
                  target="_blank"
                  rel="noreferrer"
                  class="bg-white p-2 flex text-center items-center justify-center rounded-full transition-colors duration-300 hover:bg-sv-negro-light text-black hover:fill-white"
                  ><svg
                     class="w-4 h-4"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512"
                  >
                     <path
                        d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                     ></path></svg
                  ></a
               >
               <a
                  href="https://www.youtube.com/@sv.importador"
                  target="_blank"
                  rel="noreferrer"
                  class="bg-white p-2 flex text-center items-center justify-center rounded-full transition-colors duration-300 hover:bg-sv-negro-light text-black hover:fill-white"
                  ><svg
                     class="w-4 h-4"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 576 512"
                  >
                     <path
                        d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"
                     ></path></svg
                  ></a
               >
            </div>
         </div>
      </div>
      <div
         class="bg-transparent h-full w-full pb-20 lg:py-20 lg:mx-10 flex flex-col gap-5"
      >
         <div class="text-3xl lg:text-5xl font-semibold text-white">
            <h6>ENTERATE TODO</h6>
            <h6>SOBRE LA INDUSTRIA</h6>
         </div>
         <form class="flex flex-col gap-5 items-start">
            <input
               type="email"
               placeholder="Email"
               class="w-full lg:max-w-[510px] bg-transparent outline-none border border-solid border-white p-2 rounded-md text-white focus:border-sv-blue transition-[border] duration-300"
               required
            />
            <div class="flex items-center gap-2">
               <input
                  type="checkbox"
                  id="terminos-y-condiciones"
                  class="w-5 h-5"
                  required
               />
               <label class="text-sv-gris-bold" for="terminos-y-condiciones"
                  >Acepto términos y condiciones</label
               >
            </div>

            <div class="text-white flex flex-col gap-5 items-start">
               <p>
                  Puede cancelar su suscripción cuando quiera mediante el enlace
                  de nuestra newsletter.
               </p>
               <input
                  type="submit"
                  value="Suscribirse"
                  class="bg-white text-black font-semibold cursor-pointer py-2 px-4 rounded-full"
               />
            </div>
         </form>
      </div>
   </section>

   <section class="bg-black w-full text-white">
      <div
         class="xl:container xl:mx-auto xl:px-0 px-4 flex flex-col text-start sm:flex-row sm:items-center justify-between py-6"
      >
         <p>© 2024 – SV | Todos los derechos reservados</p>
         <p>Desarrollada por: <strong>Gonzalo Haag</strong></p>
      </div>
   </section>
</footer>

<style>
   .slide-track {
      animation: scroll 30s linear infinite;
      -webkit-animation: scroll 40s linear infinite;
      width: calc(200px * 22); /** tamaño de imagenes por la cantidad */
   }
   .slide {
      @apply w-[200px];
   }
   @keyframes scroll {
      0% {
         -webkit-transform: translateX(0);
         transform: translateX(0);
      }
      100% {
         -webkit-transform: translateX(
            calc(-200px * 11)
         ); /** tamaño imagenes * cant imagenes sin el doble */
         transform: translateX(calc(-200px * 11));
      }
   }
</style>
