---

---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-sv.webp" />
		<title>Programa de beneficios - Servicios Viales</title>
		<meta name="description" content='¡Quiero Sumarme! RECOMPENSAMOS TU ESFUERZO Primer programa de beneficios para revendedores ¡Quiero Sumarme! ¿Cómo funciona? ¡Alcanza el éxito! PASO 1 Empezá por realizar una compra. PASO 2 Espera que se asigne tu nivel correspondiente. PASO 3 Realizá acciones para desbloquear premios. PASO 4 Canjea tu premio y disfruta tu recompensa. PASO 1 Empezá por realizar […]' />
	</head>
	<body>
		<header class="w-full bg-red-300 min-h-24 flex items-center">
            <div
            class="w-full px-4 xl:container xl:px-0 xl:mx-auto flex items-center justify-between"
        >
        <div class="flex 2xl:flex-grow 2xl:basis-0">
            <a href="/programa-de-beneficios" title="Logo servicios Viales">
                <img
                    src="/assets/LOGO-SV-COLOR.webp"
                    alt="logo Servicios Viales"
                    width="200"
                    height="200"
                />
            </a>
        </div>
        <nav class="">
            <ul class="flex items-center gap-x-10 [&>li>a]:text-sv-blue [&>li>a]:text-base [&>li>a]:font-semibold">
                <li>
                    <a href="#" title="proceso">Proceso</a>
                </li>
                <li>
                    <a href="#" title="beneficios">Beneficios</a>
                </li>
                <li>
                    <a href="#" title="niveles">Niveles</a>
                </li>
                <li>
                    <a href="#" title="acciones">Acciones</a>
                </li>
                <li>
                    <a href="#" title="preguntas frecuentes">FAQ´s</a>
                </li>
                <li>
                    <a href="#" title="contacto">Contacto</a>
                </li>
            </ul>
        </nav>
        <div
        class="flex justify-end 2xl:flex-grow 2xl:basis-0 gap-5 relative"
    >
        <a
            class="bg-sv-blue text-white font-medium px-8 py-3 rounded-full transition-colors duration-300 cursor-pointer hover:bg-sv-negro"
            href="#"
            >¡Quiero sumarme!</a
        >
    </div>
    </div>
        </header>
		<main class="relative">
			<section class="bg-[url('/assets/background-sections/bg-page-programa-beneficios.webp')] bg-cover bg-center w-full min-h-[calc(100vh-6rem)]">

            </section>
		</main>
	</body>
</html>
