---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Servicios - Servicios Viales"
    description="ALQUILER DE EQUIPOS Plataformas de elevación Descubrí nuestras plataformas de elevación: tijeras, elevadores articulados y telescópicos para trabajos en altura. Con equipos de última generación y seguridad garantizada. ¡Contáctanos para más información! Ver modelos disponibles GS1930/TIJERA GENIE S3219E/TIJERA SNORKEL GS2032/TIJERA GENIE S3226/TIJERA SNORKEL S4726/TIJERA SNORKEL GS3246C/TIJERA GENIE S4732/TIJERA SNORKEL GS3268RT/TIJERA GENIEE450A/BRAZO ART.TIPO “Z” JLG Z45JRT/BRAZO ART.TIPO […]"
>
    <section
        class="min-h-[25rem] w-full bg-[url('/assets/background-sections/banner-servicios.webp')] bg-cover bg-center bg-blend-color bg-black/65 flex flex-col justify-center items-center"
    >
        <div class="flex flex-col text-white text-4xl md:text-6xl text-center">
            <h2 class="font-semibold leading-tight">ALQUILER</h2>
            <h2 class="font-black">DE EQUIPOS</h2>
        </div>
    </section>

    <section class="w-full bg-sv-gris-light">
        <div class="px-4 w-full xl:px-0 xl:max-w-6xl xl:mx-auto flex flex-col">
            <!-- one -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-transparent border-b border-solid border-slate-300 py-10 scroll-mt-36 lg:scroll-mt-32"
                id="plataformas-de-elevacion"
            >
                <img
                    class="rounded-xl w-full h-full"
                    
                    src="/assets/servicios/Plataforma-de-elevacion.webp"
                    alt="Plataforma de elevacion"
                />
                <div class="flex flex-col items-start justify-center gap-4">
                    <h3 class="text-3xl text-sv-blue font-semibold">
                        Plataformas de elevación
                    </h3>
                    <p class="text-base">
                        Descubrí nuestras plataformas de elevación: <strong
                            >tijeras, elevadores articulados y telescópicos para
                            trabajos en altura.</strong
                        > Con equipos de última generación y seguridad garantizada.
                        ¡Contáctanos para más información!
                    </p>
                    <!-- Accordion -->
                    <div>
                        <input type="checkbox" hidden id="desplegar-modelos" />
                        <label
                            for="desplegar-modelos"
                            class="cursor-pointer transition-colors duration-300 flex items-center gap-1"
                        >
                            <svg
                                class="w-8 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512"
                                ><path
                                    d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
                                ></path></svg
                            >
                            <span>Ver modelos disponibles</span>
                        </label>
                        <ul
                            id="modelos"
                            class="list-disc flex-col text-sv-gris-bold pl-12 py-2 hidden opacity-0 transition-opacity duration-500"
                        >
                            <li>GS1930/TIJERA GENIE</li>
                            <li>S3219E/TIJERA SNORKEL</li>
                            <li>GS2032/TIJERA GENIE</li>
                            <li>S3226/TIJERA SNORKEL</li>
                            <li>S4726/TIJERA SNORKEL</li>
                            <li>GS3246C/TIJERA GENIE</li>
                            <li>S4732/TIJERA SNORKEL</li>
                            <li>GS3268RT/TIJERA</li>
                            <li>GENIEE450A/BRAZO ART.TIPO “Z” JLG</li>
                            <li>Z45JRT/BRAZO ART.TIPO “Z” GENIE</li>
                            <li>M600JP/BRAZO ART.TELESCOP. JLG</li>
                            <li>S125/BRAZO ART.TELESCOP.GENIE</li>
                        </ul>
                    </div>
                    <a
                        href="/contacto"
                        title="Contáctanos"
                        class="bg-black text-white text-base px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue lg:mt-8"
                    >
                        Contáctanos
                    </a>
                </div>
            </div>
            <!-- two -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-transparent border-b border-solid border-slate-300 py-10 scroll-mt-36 lg:scroll-mt-32"
                id="manipuladores-telescópicos"
            >
                <img
                    class="rounded-xl w-full h-full"
                    
                    src="/assets/servicios/sin-marca-01-scaled-1.webp"
                    alt="Manipuladores telescópicos"
                />
                <div class="flex flex-col items-start justify-center gap-4">
                    <h3 class="text-3xl text-sv-blue font-semibold">
                        Manipuladores telescópicos
                    </h3>
                    <p class="text-base">
                        Nuestros manipuladores están diseñados para <strong
                            >maximizar la eficiencia en tus operaciones.</strong
                        > ¿Buscas asesoramiento específico? Comunícate para obtener
                        más detalles.
                    </p>
                    <!-- Accordion -->
                    <div>
                        <input type="checkbox" hidden id="desplegar-modelos-2" />
                        <label
                            for="desplegar-modelos-2"
                            class="cursor-pointer transition-colors duration-300 flex items-center gap-1"
                        >
                            <svg
                                class="w-8 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512"
                                ><path
                                    d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
                                ></path></svg
                            >
                            <span>Ver modelos disponibles</span>
                        </label>
                        <ul
                            id="modelos-2"
                            class="list-disc flex-col text-sv-gris-bold pl-12 py-2 hidden opacity-0 transition-opacity duration-500"
                        >
                            <li>TH255/MANIP.TELESCOP.CAT</li>
                            <li>943C/MANIP.TELESCOP.CAT</li>
                            <li>1055C/MANIP.TELESCOP.CA</li>
                        </ul>
                    </div>
                    <a
                        href="/contacto"
                        title="Contáctanos"
                        class="bg-black text-white text-base px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue lg:mt-8"
                    >
                        Contáctanos
                    </a>
                </div>
            </div>
            <!-- three -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-transparent border-b border-solid border-slate-300 py-10 scroll-mt-36 lg:scroll-mt-32"
                id="equipos-varios"
            >
                <img
                    class="rounded-xl w-full h-full"
                    
                    src="/assets/servicios/equipos-varios.webp"
                    alt="Equipos varios"
                />
                <div class="flex flex-col items-start justify-center gap-4">
                    <h3 class="text-3xl text-sv-blue font-semibold">
                        Equipos varios
                    </h3>
                    <p class="text-base">
                        Equipos diseñados para cubrir todas tus necesidades.
                        <strong>Desde maquinaria pesada hasta herramientas
                        especializadas,</strong> ofrecemos soluciones versátiles y de
                        alta calidad para cada proyecto. ¿Necesitas más
                        detalles? Contáctanos hoy mismo
                    </p>
                    <!-- Accordion -->
                    <div>
                        <input type="checkbox" hidden id="desplegar-modelos-3" />
                        <label
                            for="desplegar-modelos-3"
                            class="cursor-pointer transition-colors duration-300 flex items-center gap-1"
                        >
                            <svg
                                class="w-8 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512"
                                ><path
                                    d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
                                ></path></svg
                            >
                            <span>Ver modelos disponibles</span>
                        </label>
                        <ul
                            id="modelos-3"
                            class="list-disc flex-col text-sv-gris-bold pl-12 py-2 hidden opacity-0 transition-opacity duration-500"
                        >
                            <li>Excavadora s/orugas 320DL CAT</li>
                            <li>Cargador Frontal 938F CAT</li>
                            <li>Retro Excavadora 416E CAT</li>
                            <li>Minicargador 246C CAT</li>
                            <li>Minicargador 277C CAT</li>
                            <li>Grúa Articulada s/Camión</li>
                        </ul>
                    </div>
                    <a
                        href="/contacto"
                        title="Contáctanos"
                        class="bg-black text-white text-base px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue lg:mt-8"
                    >
                        Contáctanos
                    </a>
                </div>
            </div>
            <!-- four -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-transparent border-b border-solid border-slate-300 py-10 scroll-mt-36 lg:scroll-mt-32"
                id="grupos-electrógenos"
            >
                <img
                    class="rounded-xl w-full h-full"
                    
                    src="/assets/servicios/grupo-01-scaled-1.webp"
                    alt="Grupos electrógenos"
                />
                <div class="flex flex-col items-start justify-center gap-4">
                    <h3 class="text-3xl text-sv-blue font-semibold">
                        Grupos electrógenos
                    </h3>
                    <p class="text-base">
                        Grupos electrógenos confiables y eficientes para garantizar un suministro eléctrico ininterrumpido. <strong>Desde modelos portátiles hasta unidades industriales</strong> de gran capacidad. ¡Hace tu consulta hoy mismo!
                    </p>
                    <!-- Accordion -->
                    <div>
                        <input type="checkbox" hidden id="desplegar-modelos-4" />
                        <label
                            for="desplegar-modelos-4"
                            class="cursor-pointer transition-colors duration-300 flex items-center gap-1"
                        >
                            <svg
                                class="w-8 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512"
                                ><path
                                    d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
                                ></path></svg
                            >
                            <span>Ver modelos disponibles</span>
                        </label>
                        <ul
                            id="modelos-4"
                            class="list-disc flex-col text-sv-gris-bold pl-12 py-2 hidden opacity-0 transition-opacity duration-500"
                        >
                            <li>Grupo Electrógeno Cummins 6CTA</li>
                            <li>Grupo Electrógeno Caterpillar 3306</li>
                            <li>Grupo Electrógeno Cummins 6BT</li>
                            <li>Grupo Electrógeno Cummins 4BT</li>
                            <li>Grupo Electrógeno Cummins 4BT</li>
                            <li>Grupo Electrógeno Barbieri Mono</li>
                            <li>Grupo Electrógeno Honda Trifásico</li>
                        </ul>
                    </div>
                    <a
                        href="/contacto"
                        title="Contáctanos"
                        class="bg-black text-white text-base px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue lg:mt-8"
                    >
                        Contáctanos
                    </a>
                </div>
            </div>
            <!-- five -->
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-transparent border-b border-solid border-slate-300 py-10 mb-5 scroll-mt-36 lg:scroll-mt-32"
                id="accesorios"
            >
                <img
                    class="rounded-xl w-full h-full"
                    
                    src="/assets/servicios/accesorios.webp"
                    alt="accesorios"
                />
                <div class="flex flex-col items-start justify-center gap-4">
                    <h3 class="text-3xl text-sv-blue font-semibold">
                        Accesorios
                    </h3>
                    <p class="text-base">
                        Contamos con una amplia gama de accesorios para <strong>complementar, potenciar y optimizar</strong> el rendimiento de tus equipos. Contáctanos para más detalles.
                    </p>
                    <!-- Accordion -->
                    <div>
                        <input type="checkbox" hidden id="desplegar-modelos-5" />
                        <label
                            for="desplegar-modelos-5"
                            class="cursor-pointer transition-colors duration-300 flex items-center gap-1"
                        >
                            <svg
                                class="w-8 h-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512"
                                ><path
                                    d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
                                ></path></svg
                            >
                            <span>Ver modelos disponibles</span>
                        </label>
                        <ul
                            id="modelos-5"
                            class="list-disc flex-col text-sv-gris-bold pl-12 py-2 hidden opacity-0 transition-opacity duration-500"
                        >
                            <li>Balde Hormigonero Hidraulico  TDI</li>
                            <li>Balde con grampa para troncos CATERPILLAR</li>
                            <li>Barredora Hidraulica TDI</li>
                            <li>Compactador Liso/Pata Cabra Vib.TDI/BOBCAT</li>
                            <li>Fresadora Asfalto/Hormigon CATERPILLAR</li>
                            <li>Hoja Topadora Angulable  TDI</li>
                            <li>Hoyadora McMillen c/Mecha 370mm y prolong. BRADCO</li>
                            <li>Hoyadora McMillen c/Mecha 450mm y prolong. CATERPILLAR</li>
                            <li>Martillo Hidraulico (320DL) MR1400</li>
                            <li>Martillo Hidraulico (416E) MR750</li>
                            <li>Martillo Hidraulico (Mini) INDECO</li>
                            <li>Placa Vibratoria Manual Mikasa</li>
                            <li>Placa Vibratoria Hidraulica (320DL) MR08</li>
                            <li>Placa Vibratoria Hidraulica  (416E) MR04</li>
                            <li>Ripper/Desgarrador  (320DL)  MR08</li>
                            <li>Garra/Grampa Hidraulica (320DL) MR08</li>
                            <li>Porta Pallet TDI</li>
                            <li>Brazo Retroexcavadora CATERPILLAR</li>
                            <li>Roturador Hidraulico TDI</li>
                            <li>Zanjadora BRADCO</li>
                            <li>Zanjadora desplazable  CATERPILLAR</li>
                        </ul>
                    </div>
                    <a
                        href="/contacto"
                        title="Contáctanos"
                        class="bg-black text-white text-base px-8 py-4 rounded-full transition-colors duration-300 hover:bg-sv-blue lg:mt-8"
                    >
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </section>
    <style>
    

       #desplegar-modelos:checked ~ #modelos {
            @apply flex opacity-100 visible;
        }
        #desplegar-modelos:checked + label svg {
            @apply -rotate-90;
        }
        #desplegar-modelos:checked + label {
            @apply text-sv-blue;
        }
        /** two */
        #desplegar-modelos-2:checked ~ #modelos-2 {
            @apply flex opacity-100 visible;
        }
        #desplegar-modelos-2:checked + label svg {
            @apply -rotate-90;
        }
        #desplegar-modelos-2:checked + label {
            @apply text-sv-blue;
        }
         /** three */
         #desplegar-modelos-3:checked ~ #modelos-3 {
            @apply flex opacity-100 visible;
        }
        #desplegar-modelos-3:checked + label svg {
            @apply -rotate-90;
        }
        #desplegar-modelos-3:checked + label {
            @apply text-sv-blue;
        }
         /** four */
         #desplegar-modelos-4:checked ~ #modelos-4 {
            @apply flex opacity-100 visible;
        }
        #desplegar-modelos-4:checked + label svg {
            @apply -rotate-90;
        }
        #desplegar-modelos-4:checked + label {
            @apply text-sv-blue;
        }
         /** five */
         #desplegar-modelos-5:checked ~ #modelos-5 {
            @apply flex opacity-100 visible;
        }
        #desplegar-modelos-5:checked + label svg {
            @apply -rotate-90;
        }
        #desplegar-modelos-5:checked + label {
            @apply text-sv-blue;
        }
    </style>
</Layout>
