---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/nunito-sans';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-sv.webp" />
		<ViewTransitions />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
<style is:global>
	
	*,*::before,*::after{
		box-sizing: border-box;
	}
	img,svg {
		display: block;
		height: auto;
		max-width: 100%;
	}
	body {
		margin: 0;
		min-height: 100dvh;
		font-family: "Nunito Sans Variable", system-ui, sans-serif;
	}
	h1,h2,h3,h4,h5,h6{
		text-wrap: balance;
	}
	p{
		text-wrap: pretty;
	}
	strong{
		font-weight: 900;
	}

	
</style>
