<div class="mytabs mt-12 flex flex-wrap gap-5 w-full">
    <input type="radio" id="tab1986" name="mytabs">
    <label for="tab1986">1986</label>
    <div class="tab">
      <p>Nuestro viaje comenzó humildemente en 1986 como taller de reparación de camiones y maquinaria pesada. Con dedicación y arduo trabajo, nos esforzamos por brindar un servicio excepcional a nuestros clientes, sentando así las bases de lo que hoy es una empresa en constante evolución.</p>
      <img src="/assets/nosotros/1986.webp" alt="Imagen 1986" width="300" height="200" />
    </div>

    <input type="radio" id="tab2000" name="mytabs">
    <label for="tab2000">2000</label>
    <div class="tab">
      <p>Con el paso del tiempo, nuestra pasión por ofrecer soluciones innovadoras nos llevó a expandirnos hacia la reparación de equipos viales y convertirnos en importadores de repuestos. Este paso nos permitió satisfacer las necesidades cambiantes de nuestros clientes y consolidar nuestra reputación como proveedores confiables y de calidad.</p>
      <img src="/assets/nosotros/2000.webp" alt="imagen 2000" width="300" height="200" />
    </div>

    <input type="radio" id="tab2010" name="mytabs">
    <label for="tab2010">2010</label>
    <div class="tab">
      <p>En un mundo cada vez más competitivo, nos propusimos ir más allá. Nos convertimos en importadores especializados en filtros para equipos pesados, tomando la representación de la marca Donaldson. Esta asociación nos permitió ofrecer productos de primera calidad y consolidar nuestra posición como líderes en el mercado</p>
      <img src="/assets/nosotros/2010.webp" alt="imagen 2010" width="300" height="200" />
    </div>

    
    <input type="radio" id="tab2015" name="mytabs">
    <label for="tab2015">2015</label>
    <div class="tab">
      <p>El reconocimiento a nuestro esfuerzo y dedicación no tardó en llegar. Nos convertimos en el importador más importante de Donaldson en Argentina, siendo reconocidos como el representante número uno de la marca. Este logro no solo fue un testimonio de nuestra excelencia operativa, sino también un impulso para seguir adelante con determinación.</p>
      <img src="/assets/nosotros/2015.webp" alt="imagen 2015" width="300" height="200" />
    </div>

    
    <input type="radio" id="tab2017" name="mytabs">
    <label for="tab2017">2017</label>
    <div class="tab">
      <p>Un hito significativo en nuestro camino fue el prestigioso premio que recibimos como el mejor proveedor de Minería. Este reconocimiento no solo nos llenó de orgullo, sino que también validó nuestro compromiso constante con la calidad y la satisfacción del cliente en un sector tan exigente como el de la minería.</p>
      <img src="/assets/nosotros/2017.webp" alt="imagen 2017" width="300" height="200" />
    </div>

    <input type="radio" id="tab2019" name="mytabs">
    <label for="tab2019">2019</label>
    <div class="tab">
      <p>Siendo conscientes de la importancia de estar cerca de nuestros clientes, decidimos expandirnos aún más. Abrimos una sucursal en la prestigiosa ciudad de Buenos Aires, reafirmando así nuestro compromiso de ofrecer un servicio superior y una atención personalizada en todo el país.</p>
      <img src="/assets/nosotros/2019.webp" alt="imagen 2019" width="300" height="200" />
    </div>

    <input type="radio" id="tab2021" name="mytabs">
    <label for="tab2021">2021</label>
    <div class="tab">
      <p>Nuestro viaje de pasión y persistencia nos llevó a nuevas alturas con la apertura de nuestra sucursal en Mendoza. Esta expansión estratégica no solo nos permite atender mejor a nuestros clientes en la región, sino que también representa un paso más en nuestro compromiso de innovación y crecimiento continuo.</p>
      <img src="/assets/nosotros/2021.webp" alt="imagen 2021" width="300" height="200" />
    </div>

    <input type="radio" id="tab2023" name="mytabs">
    <label for="tab2023">2023</label>
    <div class="tab">
      <p>Próximamente apertura nueva sucursal. </p>
    </div>

  </div>
  <style>
/* .mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
} */
.mytabs input[type="radio"] {
    @apply hidden
}
.mytabs label {
    @apply border border-sv-blue rounded-full px-6 py-3 md:px-16 md:py-3 flex items-center justify-center text-center text-sv-blue text-base font-medium cursor-pointer transition-colors duration-300 hover:bg-sv-blue hover:text-white
}

.mytabs .tab {
    @apply w-full bg-white order-1 md:mt-5 hidden

}
.mytabs .tab p {
    @apply text-xl font-light
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    @apply flex flex-col items-start gap-5 w-full
 
}

.mytabs input[type="radio"]:checked + label {
    @apply bg-sv-blue text-white
}

  </style>